QFrame {
	margin: 0;
	padding: 0;
	border: None;
}

QWebView {
  padding: 0;
}


 QProgressBar {
    border: 1px solid grey;
    border-radius: 2px;
    margin-right: 3px;
    text-align: center;
 }

 QProgressBar::chunk {
     background-color: #E98300;
     color: #595959;

 }

