html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
.sidebar {
  width: 200px;
  height: 100%;
  max-width: 100%;
  float: left;
  -webkit-transition: all 0.5s ease-out;
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#db-sidebar-hide-btn {
  margin-top: -2px;
}
#hazards-sidebar-hide-btn , #analysis-sidebar-hide-btn{
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}


.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}


.navbar .navbar-brand {
  font-size: 18px;
  color: #595959;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}

.nav > li > a:hover{
    background-color:rgba(233,131,0,0.35);
}

.nav > li > a:focus{
    background-color: rgba(233,131,0,0);
}

.nav > li > a:active{
    background-color: rgba(233,131,0,0);
}

.orange {
	color: #e98300;
}

.grey {
	color: #595959;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  .sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
