<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"  data-keyboard="false">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Validation Log</h4>
      </div>
      <div class="modal-body">
        
        {% set has_error = False %}
        {% for row in rows %}
        {% set val = row.split(':') %}
        
          {% if "ERROR" in row %}
	        {% set has_error = True %}
	        <p class="bg-danger" style="padding: 2px;">{{val[-1]}}</p>
          {% elif "WARNING" in row %}
              {% set warn = row.split(':') %}
            <p class="bg-warning" style="padding: 2px;">{{val[-1]}}</p>
          {% elif "INFO" in row %}
          
            <p class="bg-info" style="padding: 2px;">{{val[-1]}}</p>
          {% else %}
            <p>{{val[-1]}}</p>
          {% endif %}
        {% endfor %}
        
        <button type="button" class="btn btn-default" style="margin: 2px;">Proceed?</button>
      </div>
    </div>
  </div>
</div>